extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +intro({
      list: [
        {
          href: '#',
          text: 'Меню',
        },
        {
          href: '#',
          text: 'Лоадер',
        },
        {
          href: '#',
          text: 'Сборка первого экрана',
        },
        {
          href: '#',
          text: 'Появления блоков',
        },
        {
          href: '#',
          text: 'Параллакс',
        },
        {
          href: '#',
          text: 'Слайдер по скроллу',
        },
      ]
    })
    +description()
