mixin description()
  section.description
    .container
      h2 Меню ТЗ
      h3 Анимация появления
      p При открытии: Сначала появляется меню, затем внутренний контент. Пункты внутри появляются с разной задержкой - эффект "лесенки"
      p При закрытии: Внутренний контент исчезает до закрытия меню, без задержки
      p Анимация меню на данном сайте реализована с помощью css (это база). Можете так же реализовать анимацию с помощью gsap
      h3 JS
      p Для блокировки скролла используется window.scrollLock
      p Должны быть реализованы функции или методы для открытия и закрытия меню, которые можно использовать в других модулях
      h3 Появление блоков
      .description__blocks
        .description__block(data-element="fade")
          p fade
        .description__block(data-element="fade")
          p fade
        .description__block.description__block-fade-in(data-element="fade-in")
          p fade-in
        .description__block.description__block-fade-in(data-element="fade-in")
          p fade-in
        .description__block.description__block-fade-scale(data-element="fade-scale")
          p fade-scale
        .description__block.description__block-fade-scale(data-element="fade-scale")
          p fade-scale
      h3 Параллакс по скроллу
      .description__blocks
        .description__block.description__block-fade-scale(data-element="fade-scale1")
          p fade-scale
        .description__block.description__block-fade-scale(data-element="fade-scale1")
          p fade-scale
        .description__block.description__block-fade-in(data-element="fade-in1")
          p transform y
        .description__block.description__block-fade-in(data-element="fade-in1")
          p transform y
