mixin intro(options={})
  - const list = options.list || false;
  - const text = options.text || "";
  - const href = options.href || "";

  .intro&attributes(attributes)
    .container
      .intro__heading
        h1.intro__title
          span(data-element="title1") Задачки
          span(data-element="title2") на прокачку
        .intro__paragraph
          p(data-element="pargraph1") Задачи на интерфейсную логику,
          p(data-element="pargraph2") которые часто встречаются
          p(data-element="pargraph3") на реальных проектах
      ul.intro__list(data-attribute="intro-list")
        each item in list
          li.intro__item(data-attribute="intro-item")
            a.intro__link(href=item.href)!=item.text
