mixin intro(options={})
  - const list = options.list || false;
  - const text = options.text || "";
  - const href = options.href || "";

  .intro&attributes(attributes)
    .container
      .intro__heading
        h1.intro__title Задачки на прокачку
        p Задачи на интерфейсную логику, которые часто встречаются на реальных проектах
      ul.intro__list
        each item in list
          li.intro__item
            a.intro__link(href=item.href)!=item.text

