mixin map-one()
  section.map-one
    .container
      h1 Задание по карте №1
      h2 Техническое задание
      p Реализовать карту через API Яндекс карт. Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат,которые вы можете придумать сами. На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.
      .map-one__map
        .map-one__container(id="map")

