mixin menu(options={})
  - const list = options.list || false;
  - const text = options.text || "";
  - const href = options.href || "";

  nav.menu&attributes(attributes)(data-attribute="main-menu")
    .menu__block
      +icon("icon-round", 18, 18).menu__icon
    .menu__block-rew
      +icon("icon-round", 18, 18).menu__icon
    ul.menu__list
      each item in list
        li.menu__item
          a.menu__link(href=item.href)!=item.text
