.header {
  position: fixed;
  padding: 28px 0;
  margin-bottom: 100px;
  transition: 0.3s;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 100;

  background-color: $color-transparent;

  .container {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    color: $color-default-black;
    font-weight: 700;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button {
    background-color: $color-transparent;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    width: 50px;
    right: 50px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $color-tory-blue;
      right: 0;
      top: 0;
      transition: $trans-default;
      transform: translate3d(0, 0, 0);
    }

    &::after {
      top: 10px;
    }
  }

  &__button:hover::before {
    transform: translateX(-10px);
  }

  &__button:hover::after {
    transform: translateX(10px);
  }
}

.is-active {
  &::after {
    transform: rotateZ(45deg);
    background-color: $color-default-white;
  }

  &::before {
    transform: rotateZ(-45deg);
    top: 10px;
    background-color: $color-default-white;
  }

  &:hover::after {
    transform: rotateZ(42deg);
  }

  &:hover::before {
    transform: rotateZ(-42deg);
  }
}

.is-menu-open {
  background-color: $color-tory-blue;

  .header__logo {
    color: $color-default-white;
  }
}
