.intro {
  background-color: $color-transparent;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  p {
    margin: 0;
    transform: translateY(100%);
    opacity: 0;
  }

  &__list {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    max-width: 60%;

    @include vp-1023 {
      max-width: 100%;
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 80px;
    min-width: 100px;
    background-color: $color-tory-blue-opacity;
    border-radius: 10px;

    @include vp-1023 {
      width: 100%;
      min-width: none;
    }
  }

  &__link {
    padding: 20px 40px;
    width: 100%;
    height: 100%;
    text-align: center;

    @include vp-767 {
      padding: 20px 10px;
    }
  }

  span {
    transform: translateY(100%);
    opacity: 0;
  }
}
