.intro {
  padding-top: 150px;
  padding-bottom: 50vh;
  min-height: 100vh;
  background-color: $color-wild-blue-yonder;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__block,
  &__block-rew {
    border: 1px solid $color-default-white;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    position: absolute;

    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    transform: translate3d(0, 0, 0);

    display: flex;
    flex-direction: column;
  }

  &__block:first-child {
    animation-delay: 2s;
    left: 10%;
    top: 10vh;
  }

  &__block:nth-child(2) {
    animation-delay: 3s;
    left: 25%;
    top: 30vh;
  }

  &__block:nth-child(3) {
    left: 50%;
    top: 50vh;
  }

  &__block:nth-child(4) {
    animation-delay: 3s;
    left: 65%;
    top: 70vh;
  }

  &__block:nth-child(5) {
    animation-delay: 2s;
    left: 90%;
    top: 90vh;
  }

  &__block:nth-child(6) {
    animation-delay: 4s;
    left: 70%;
    top: 20vh;
  }

  &__block:nth-child(7) {
    animation-delay: 4s;
    left: 30%;
    top: 80vh;
  }

  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(5) rotate(960deg) translate(-100%, -100%);
      opacity: 0;
    }
  }

  &__content {
    position: relative;
    background: transparent;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  p {
    margin: 0;
    transform: translateY(100%);
    opacity: 0;
  }

  &__list {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    max-width: 60%;

    @include vp-1023 {
      max-width: 100%;
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 80px;
    min-width: 100px;
    background-color: $color-tory-blue-opacity;
    border-radius: 10px;

    @include vp-1023 {
      width: 100%;
      min-width: none;
    }
  }

  &__link {
    padding: 20px 40px;
    width: 100%;
    height: 100%;
    text-align: center;

    @include vp-767 {
      padding: 20px 10px;
    }
  }

  span {
    transform: translateY(100%);
    opacity: 0;
  }
}
