.menu {
  background-color: $color-tory-blue;
  transition: 0.8s;
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  padding-top: 40px;
  top: 78px;
  left: 0;
  height: calc(100vh + 50px);
  clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);

  &__block,
  &__block-rew {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 30%;
    top: 40vh;

    transform-origin: top left;
    transform: scale(0.2) rotate(0deg) translate(-50%, -50%);
    animation: dot 12s ease-in forwards infinite;
  }

  @keyframes dot {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      transform: scale(3) rotate(960deg) translate(-80%, -80%);
      opacity: 0;
    }

    to {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
  }

  &__block-rew {
    animation-delay: 1s;
  }

  &__list {
    margin: 0;
    padding-left: 40px;
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
    transition: $trans-default;
    transform: translate3d(0, 0, 0);
    max-width: 300px;

    &:hover {
      transform: translateX(20px);
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__link {
    font-size: 40px;
    line-height: 40px;
    color: $color-default-white;
  }
}

.is-disable {
  transform: translateY(-120%);
  clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
}
