.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: $color-tory-blue;
  z-index: 1001;

  visibility: hidden;
  opacity: 0;

  &__block {
    position: relative;
    top: 50%;
    left: 50%;
    animation: preloader 2s infinite linear;

    width: 40px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @keyframes preloader {
    100% {
      transform: rotate(360deg);
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $color-default-white;
    align-self: center;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  &.is-loaded {
    .preloader__block {
      animation: none;
    }
  }
}
