mixin header(headerMods, currentUrl)

  header.header(class=headerMods data-element="header")
    .container
      .header__container
        a.header__logo(href="sitemap.html", aria-label="Переход на главную") ligaa.intern
        button.header__button(type="button" aria-label="Открыть" data-element="open-menu")
      +menu({
        list: [
          {
            href: '#',
            text: 'Анимации',
          },
          {
            href: '#',
            text: 'Карта 1',
          },
          {
            href: '#',
            text: 'Карта 2',
          },
          {
            href: '#',
            text: 'Карта 3',
          },
          {
            href: '#',
            text: 'Карта 4',
          },
        ]
      }).is-disable
