mixin header(headerMods, currentUrl)

  header.header(class=headerMods)
    .container
      .header__container
        a.header__logo(href="sitemap.html", aria-label="Переход на главную") ligaa.intern
        button.header__button(type="button" aria-label="Открыть")
      +menu({
        list: [
          {
            text: 'Анимации',
          },
          {
            text: 'Карта 1',
          },
          {
            text: 'Карта 2',
          },
          {
            text: 'Карта 3',
          },
          {
            text: 'Карта 4',
          },
        ]
      })
